.foto{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin-top: 300px;
    margin-bottom: 20px;
    background-color: rgb(255, 240, 249);
    justify-content: center;
    
}

.contacto {
    font-family: 'Times new Roman'; 
    font-style: georgia;  
    color: #333; 
    padding: 10px;
    border-radius: 5px; 
    border: 2px solid black;
}

.contacto_font {
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #333;
}
.hab {
    background-color: rgb(255, 240, 249);
    padding: 24px;
    margin: 0.6799999px 10px;
    border: 2px solid black;
    font-family: 'Times New Roman';
}

.hab_font{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #333;
}
.educacion {
    font-family:'Times New Roman';
    background-color: rgb(255, 240, 249); 
    font-style: georgia;  
    color: #333; 
    padding: 10px; 
    border-radius: 5px;
    border: 2px solid black;
    width: 250px;
    height: 100px;
    margin: 5px 10px;
}

.edu_font {
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

#yo{
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    justify-content: center;
    margin: 50px 50px;
    
}

.proyectos{
    background-color: rgb(255, 240, 249);
    padding: 20px;
    margin: 5px 1px;
    border: 2px solid black;
    font-family: 'Times New Roman';
}
.proyectos_font{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #333;
}
.proyectoemp{
    background-color: rgb(255, 240, 249);
    padding: 20px;
    margin: 5px 1px;
    border: 2px solid black;
    font-family: 'Times New Roman';
}
.certificados {
    background-color: rgb(255, 240, 249);
    padding: 25px;
    margin: 5px 10px;
    border: 2px solid black;
}
body{
    background-color: rgb(246, 211, 225);
    font-family: Arial, sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
}

